on init
    # Enable decimal charging
    chmod 0666 /proc/ui_soc_decimal
    chown system system /proc/ui_soc_decimal
    write /proc/ui_soc_decimal 1

on boot

    # Enable OTG by default
    write /sys/class/power_supply/usb/otg_switch 1

    # Charger
    chown system system /sys/class/power_supply/battery/mmi_charging_enable

    # Display
    chmod 0666 /sys/kernel/oppo_display/dimlayer_bl_en

    # Dolby
    mkdir /data/vendor/dolby 0770 media media
    mkdir /data/vendor/multimedia 0775 system system

